body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-primary-color;
  margin: 0;
  line-height: 1.6;
}

h1 { font-size: 2em; }

h1, h2, h3, h4, strong {
  font-weight: 600;
  color: $text-secondary-color;
}

code, pre {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 12px;
  background-color: $shallow-area-bkg;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

code {
  color: $inline-code-color;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}

pre > code, pre > code.hljs {
  display: block;
  padding: 1.2em 1.4em;
  background-color: inherit;
  color: inherit;
  white-space: pre;
}

blockquote {
  position: relative;
  margin: 0;
  padding: .8em .8em .8em 3em;
  background-color: $shallow-area-bkg;
}
blockquote > p { margin: 0; }
blockquote:before {
  content: "“";
  position: absolute;
  left: 12px;
  font-size: 32px;
  line-height: 1.2;
  color: $text-shallow-color;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $link-primary-color;
}
a:link, a:visited {
  color: $link-visit-color;
}
a:hover, a:active {
  color: $link-active-color;
}
