body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
  margin: 0;
  line-height: 1.6;
}

h1 { font-size: 2em; }

h1, h2, h3, h4, strong {
  font-weight: 600;
  color: #2c3e50;
}

h2, h3 {
  position: relative;
}

h2:before, h3:before {
  position: absolute;
  content: "#";
  font-weight: bold;
  color: #1980e6;
  left: -.8em;
}

code, pre {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 12px;
  background-color: #f8f8f8;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}

pre > code, pre > code.hljs {
  display: block;
  padding: 1.2em 1.4em;
  background-color: inherit;
  color: inherit;
  white-space: pre;
}

blockquote {
  position: relative;
  margin: 0;
  padding: .8em .8em .8em 3em;
  background-color: #f8f8f8;
}
blockquote > p { margin: 0; }
blockquote:before {
  content: "“";
  position: absolute;
  left: 12px;
  font-size: 32px;
  line-height: 1.2;
  color: #828E99;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #1980e6;
}
a:link, a:visited {
  color: #047ac6;
}
a:hover, a:active {
  color: #2596de;
}
