.site-wrapper {
  /*overflow-x: hidden;*/
  max-width: 600px;
  margin: 0 auto;
  padding: 0 25px;
}

.nav {
  padding-top: 2px;
  text-align: right;
  float: left;
  width: 100%;
}
.nav > a {
  margin: 0 8px;
  color: #828E99;
  transition: color .3s;
}
.nav > a:hover {
  color: #2c3e50;
}

.title {
  float: left;
  margin-left: -100%;
  color: #2c3e50;
  text-align: center;
  letter-spacing: 5px;
  font-size: 1.2em;
}

.header {
  display: block;
  padding: 15px 0;
}

.clearfix:after, .header:after {
  content: "";
  display: table;
  clear: both;
}

.post-header {
  margin-bottom: 1em;
}

.content {
  margin-top: 18px;
  padding: 1.2em 0;
}

.post .date {
  letter-spacing: 1px;
  margin-bottom: -1em;
  color: #828E99;
}

.tags {
  margin-top: -1em;
  padding: 0 4px;
}
.tag {
  padding: 0 4px;
  color: #828E99;
}

[class^="lang-"] {
  position: relative;
}
.lang-sign {
  position: absolute;
  right: 4px;
  top: 4px;
  color: #ccc;
}

// 页脚部分
.site-footer {
  font-size: 12px;
  color: #828E99;
  margin: 1.5em 0;
}
.site-footer a {
  color: inherit;
  transition: color .3s;
}
.site-footer a:hover {
  color: #2c3e50;
}

.copyright, .icp {
  float: left;
}
.copyright {
  margin-left: -100%;
}
.icp {
  width: 100%;
  text-align: right;
}
