// 取色
$text-primary-color: #34495e;
$text-secondary-color: #2c3e50;
$text-shallow-color: #828E99;

$shallow-area-bkg: #f8f8f8;

$inline-code-color: #e96900;

$link-primary-color: #1980e6;
$link-visit-color: #047ac6;
$link-active-color: #2596de;

// 整体结构
$site-max-width: 600px;
